@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

header {
  font-family: 'Share Tech Mono', monospace;
}

body {
    font-family: 'Share Tech Mono', monospace;
    color: black;
    background-color: #D1D1D1;
}
